.cover1:hover,.cover2:hover,.cover3:hover,.cover4:hover{
    width: 309px;
    height: 288px;
}
.cover5:hover,.cover6:hover,.cover7:hover,.cover8:hover{
    width: 309px;
    height: 288px;
}
.raw1:hover,.raw2:hover,.raw3:hover,.raw4:hover,.raw5:hover,.raw6:hover,.raw7:hover,.raw8:hover,.raw9:hover{
    background-color: rgb(221, 213, 213);
}